<table class="table">
  <thead class="black white-text">
    <tr>
      <th scope="col">#</th>
      <th scope="col"><?=__('lng.lbpark', 'default value')?></th>
      <th scope="col"><?=__('lng.lbtam', 'default value')?></th>
      <th scope="col"><?=__('lng.lbubi', 'default value')?></th>
      <th scope="col"><?=__('lng.lbentra', 'default value')?></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Xcaret</td>
      <td>1000 m2</td>
      <td>Q. Roo</td>
      <td>1000 MXM</td>
    </tr>
  </tbody>
</table>



