

<br/>

<?=$data['test_content']?>
 

<table class="table">
  <thead class="grey lighten-2">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>
      <a href="#" class="btn btn-primary btn-sm" role="button">Editar</a>
      <a href="#" class="btn btn-primary btn-sm" role="button">Eliminar</a>
        </td>
    </tr>
  </tbody>
</table>