

<br/>

<?=$data['test_content']?>
 

<table class="table">
  <thead class="grey lighten-2">
    <tr>
      <th scope="col">id evento</th>
      <th scope="col">Nombre</th>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">Lugar</th>
      <th scope="col">Fecha de Creación</th>
      <th scope="col">Estatus</th>
      <th scope="col">Nuevo</th>
    </tr>
  </thead>
  <tbody>
      <?php
        foreach($data['listado'] as $registro) {    
        ?>

    <tr>
      <th scope="row"><?=$registro['id_evento'];?></th>
      <td><?=$registro['nombre'];?></td>
      <td><?=$registro['descripcion'];?></td>
      <td><?=$registro['fecha'];?></td>
      <td>Otto</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>
      <a href="#" class="btn btn-primary btn-sm" role="button">Editar</a>
      <a href="#" class="btn btn-primary btn-sm" role="button">Eliminar</a>
        </td>
    </tr>
      <?php
        }
        ?>
  </tbody>
</table>
<pre>
<?php 
print_r($data['listado']);

?>
</pre>